<h1>Le {{ "now"|date("d/m/Y") }} vous vous êtes surement retrouvé à vous inscrire sur un site</h1>

<img src="https://influenzzz.fr/wp-content/uploads/2022/02/Feldup-Youtube.png" alt="feldup image" />

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
