{% extends 'base.html.twig' %}

{% block content %}
    {% if app.request.get('search') %}
        <h1>Resultat de la recherche</h1>
    {% else %}
    <h1>Liste de petites annonces</h1>
    {% endif %}
    {% include 'advertisement/_list.html.twig' %}

{% endblock %}
