{% extends 'base.html.twig' %}

{% block title %}LeMauvaiscoin{% endblock %}

{% block body %}
    <main>
        <h1>Liste de petites annonces</h1>
         {% include 'advertisement/_list.html.twig' %}
    </main>
{% endblock %}
