{% extends 'base.html.twig' %}

{% block title %}LeMauvaiscoin{% endblock %}

{% block content %}

    <h1>Liste de petites annonces</h1>
    {% include 'advertisement/_list.html.twig' %}

{% endblock %}
