$white: #ffffff;

$theme-colors: (
        "light":      #f3f3f3,
        "dark":       #050000,
        "primary":    #3725de,
        "secondary":  #9e34e3,
        "info":       #a17cf8,
        "accent1":    #e24448,
        "accent2":    #c9a7b7,
        "accent3":    #ded5d9,
        "success":    #16b66d,
        "warning":    #e6d013,
        "danger":     #f72308,
);

$badge-font-size: 1rem;

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

.text-wrap-anywhere {
  word-wrap: anywhere;
}

.bg-odd-secondary:nth-child(odd) {
  background-color: $secondary-bg-subtle !important;
}
