<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <style>
                main {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                article {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: 50%;
                    border: 1px solid black;
                    border-radius: 5px;
                    box-shadow: 7px 9px 18px 0px rgba(0,0,0,0.51);
                    -webkit-box-shadow: 7px 9px 18px 0px rgba(0,0,0,0.51);
                    -moz-box-shadow: 7px 9px 18px 0px rgba(0,0,0,0.51);
                    margin: 1rem;
                    padding: 1rem;
                }

                article h2 {
                    margin: 0;
                }

                article p {
                    margin: 0;
                }

                article .articles-dates {
                    display: flex;
                    justify-content: space-between;
                    color: #555555;
                }

                .category-container {
                    display: flex;
                    flex-wrap: nowrap;
                }

                .category-title {
                    border: 1px solid lightcoral;
                    background-color: lightsalmon;
                    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
                    font-style: italic;
                    border-radius: 5px;
                    padding: 5px;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
