<div {{ attributes }}>
    <button
            data-action="live#action"
            data-action-name="toggleLike"
            class="btn btn-primary"
            {% if not app.user %}
            disabled
            {% endif %}
    >
    {% if this.isLikedByUser()%}
        <i class="bi bi-heart-fill"></i>
    {%else%}
    <i class="bi bi-heart"></i>
    {%endif%}
    {{ this.getLikesCount() }}
    </button>
</div>
